<div class="input-group">
    <input type="text" class="form-control" placeholder="Search database for...">
    <div class="input-group-btn">
      <button class="btn btn-outline-secondary" type="button">Go!</button>
    </div>
</div>