<div class="container">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <% if(user) { %>
          <a class="btn btn-sm btn-outline-primary" href="logout">Log out</a>
          <% } %> <% if(!user) { %>
            <a class="btn btn-sm btn-outline-secondary" href="login">Log in</a>
            <% } %>
        </div>
        <div class="col-4 text-center">
          <a class="blog-header-logo text-dark" style="font-size: 1.75rem !important;" href="/">Dambry</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <% if(!user) { %>
            <a class="btn btn-sm btn-outline-secondary" href="signup">Sign up</a>
            <% } %>
        </div>
      </div>
    </header>
  
    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 link-secondary" href="/">Home</a>
        <a class="p-2 link-secondary" href="search">Search</a>
        <a class="p-2 link-secondary" href="guides">Resources</a>
        <a class="p-2 link-secondary" href="recommenders">See who's recommending</a>
        <% if(user) { %>
        <a class="p-2 link-secondary text-primary" href="add_resource">Make a recommendation</a>
        <a class="p-2 link-secondary text-primary" href="/">See saved resources</a>
        <%}%>
      </nav>
    </div>
  </div>