BASE_URI=http://localhost
PORT=2020
MONGODB_URI= mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.jx2qc.mongodb.net/guidesDEV?retryWrites=true&w=majority
# mongodb://localhost:27017/guides
MONGODB__PRODUCTION_URI=mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.jx2qc.mongodb.net/guides?retryWrites=true&w=majority